/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
  width: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.leaflet-popup-content {

  p {
    margin: 3px 0 !important;
  }
}


#distance {
  position: absolute;
  bottom: 20px;
  left: 1vw;
  right: 1vw;
  z-index: 401;
  background: rgba(255,255,255,0.7);
  font-family: Verdana, Arial;
  font-size: 12px;
}

.distance-close {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: 2em;
  height: 2em;
}
